### Heroes Of Pymoli Data Analysis

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [369]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Confirming Data is There
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [156]:
# WINNER WINNER

total_players = pd.DataFrame([purchase_data.SN.nunique()],columns = ['Total Players'])
total_players

   Total Players
0            576

In [91]:
# Other Ways of getting the same number of 576

#Total_Players = purchase_data.SN.nunique()
#purchase_data["SN"].nunique()
#purchase_data.SN.agg(['nunique']).reset_index(name='Total Players')
#purchase_data["SN"].agg(['nunique']).reset_index(name="Total Players")
#purchase_data.agg({"SN":['nunique']})

          SN
nunique  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [157]:
count_type = purchase_data['Item ID'].nunique()
avg_price = purchase_data['Price'].mean()
count_purch = purchase_data['Purchase ID'].count()
total_rev = purchase_data['Price'].sum()

ct = [count_type]
ap = "${:,.2f}".format(avg_price)
cp = [count_purch]
tr = "${:,.2f}".format(total_revenue)

dict = {'Number of Unique Items':ct,'Average Price':ap,'Number of Purchases':cp,'Total Revenue':tr} 

purch_analysis = pd.DataFrame(dict)
purch_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [240]:
sn_gen = purchase_data.iloc[:,[1,3]]
sn_gen_drop = sn_gen.drop_duplicates()

gender = pd.DataFrame(sn_gen_drop)
gen_group = gender.groupby('Gender')

t_c = pd.DataFrame(gen_group.count())
t_c.rename(columns={'SN': 'Total Count'},inplace=True)
t_c['Percentage of Players'] = (t_c['Total Count'] / t_c['Total Count'].sum()) * 100

player_gen=pd.DataFrame(t_c.sort_values(by=['Total Count'],ascending = False))
player_gen = player_gen.round(2)
player_gen

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [324]:
pur_gen_an = purchase_data.iloc[:,[0,3,6]]
gen_group = pur_gen_an.groupby("Gender")
gen_count = gen_group.Gender.count()
avg_price = gen_group.Price.mean()
tot_val = gen_group.Price.sum()

result = pd.concat([gen_count, avg_price, tot_val], axis=1)
result.columns = ['Purchase Count', 'Avg Purchase Price','Total Purchase Value']
result['Avg Total Purchase per Person'] = (result['Total Purchase Value'] / t_c['Total Count']) 
format_dict = {'Avg Purchase Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}','Avg Total Purchase per Person':'${0:,.2f}'}
result.style.format(format_dict)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [432]:
age_bins = [0 , 9, 14, 19, 24, 29, 34, 39, 100]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Range"] = pd.cut(purchase_data["Age"],age_bins, labels = age_labels)
age_columns = purchase_data.iloc[:,[1,7]]
age_no_dup = age_columns.drop_duplicates()

age_group_by = age_no_dup.groupby("Age Range")

age_groups_count = age_group_by.count()
age_groups_sum = age_groups_count.sum()

age_grp = pd.DataFrame(age_group_by.count())
age_grp.rename(columns={'SN': 'Total Count'},inplace=True)
age_grp['Percentage of Players'] = (age_grp['Total Count']/ age_grp['Total Count'].sum()) * 100
age_grp = age_grp.round(2)
age_grp

           Total Count  Percentage of Players
Age Range
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [486]:
age_bins = [0 , 9, 14, 19, 24, 29, 34, 39, 100]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Range"] = pd.cut(purchase_data["Age"],age_bins, labels = age_labels)
age_pur_col = purchase_data.iloc[:,[0,6,7]]
age_pur_grp = age_pur_col.groupby("Age Range")

age_pur_count = age_pur_grp['Purchase ID'].count()
age_pur_avg_pd = age_pur_grp['Price'].mean()
age_pur_total = age_pur_grp['Price'].sum()
age_pur_person = age_pur_total/age_grp['Total Count']

age_pur_analysis = pd.concat([age_pur_count, age_pur_avg_pd, age_pur_total, age_pur_person ], axis=1)
age_pur_analysis.columns = ['Purchase Count', 'Avg Purchase Price','Total Purchase Value','Avg Total Purchase per Person']
format_dict = {'Avg Purchase Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}','Avg Total Purchase per Person':'${0:,.2f}'}
age_pur_analysis.style.format(format_dict)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [545]:
spender_df = purchase_data.iloc[:,[1,6]]
spender_gp_df = spender_df.groupby('SN')

purchase_count = spender_gp_df['SN'].count()
spender_avg_price = spender_gp_df['Price'].mean()
spender_price_total= spender_gp_df['Price'].sum()

spender_df = pd.concat([purchase_count, spender_avg_price, spender_price_total], axis=1)
spender_df.columns = ['Purchase Count', 'Avg Purchase Price','Total Purchase Value']
spender_df = spender_df.sort_values("Total Purchase Value",ascending = False)
top_spend_df = spender_df.iloc[0:5,:]
format_dict = {'Avg Purchase Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}'}
top_spend_df.style.format(format_dict)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [593]:
items_df = purchase_data.iloc[:,[4,5,6]]
group_items =items_df.groupby(['Item ID','Item Name'])

item_pur_ct = group_items['Item ID'].count()
item_pur_tot = group_items['Price'].median()
item_pur_value = item_pur_ct * item_pur_tot

purchases_tot = pd.concat([item_pur_ct, item_pur_tot, item_pur_value], axis=1)
purchases_tot.columns = ['Purchase Count', 'Item Price','Total Purchase Value']

purchases_tot = purchases_tot.sort_values("Purchase Count",ascending = False)
top_purchases = purchases_tot.iloc[0:5,:]
format_dict = {'Item Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}'}
top_purchases.style.format(format_dict)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [594]:
purchases_tot = purchases_tot.sort_values("Total Purchase Value",ascending = False)
top_purchases = purchases_tot.iloc[0:5,:]
format_dict = {'Item Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}'}
top_purchases.style.format(format_dict)